body {
  margin: 0;
   font-family: "Ovo", serif;
  /* font-weight: 400; */
}

h1{
  font-family: "Playfair Display", serif;
}

h2, h3, h4, h5{
  font-family: "Halant", serif;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar-brand, .nav-link {
    font-weight: bold;
}

.navbar-brand {
    width: 15%;
}

@media (max-width:750px) {
    .navbar-brand {
        width: 30%;
    }
}
nav .container-fluid{
  padding:0 7%;
}
nav{
  background: var(--white-gradient-blend) ;
  font-size: small;
}
 section > .container-fluid {
    padding: 6% 7%;
    
}
